@model Category
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminF/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="row">
        <form class="forms-sample" method="post">
                    <div class="form-group" >
                      <label asp-for="Name"></label>
                      <input asp-for="Name"  class="form-control"  placeholder="Name">
                      <span asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="Desc">Description</label>
                      <input asp-for="Desc"  class="form-control"  placeholder="Desc">
                      <span asp-validation-for="Desc"></span>

                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                  </form>
    </div>
</div>

